

/*      H E A D E R
-----------------------------*/
body {
  background-image: url(projectsBackground.jpg);
  height: 90vh;  
  background-size: cover;
  background-position: center;
  font-family: monospace;

}


ul {
  list-style-type: none;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: space-between;
	position: relative;
	border-width: 0 0 2px 0;
} 

li a {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
	color: rgba(0, 0, 0, 0.678);
  text-transform: uppercase;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px 20px 20px 20px;
}


.row
{
  max-width: 1200px;
  margin: auto;
}

.hero
{
  position: absolute;
  width: 1200px;
  margin-left: 0;
  margin-top: 0;

}

h1
{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 60px;
  display: flex;
  box-flex: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}

.button
{
  display: flex;
  -ms-flex-align: center;
  justify-content: center;
}

.btn
{
  border: 1px solid white;
  padding: 10px 30px;
  color: whitesmoke;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one
{
  background-color: darkred;
  font-family: "Robberto", sans-serif;
}

.btn-two
{
  background-color: green;
  font-family: "Robberto", sans-serif;
}

.btn-two:hover
{
  background-color: darkred;
  transition: all 0.5s ease-in;

}
.video
{
  border-style: dotted;
  border-color: maroon;
  border-width: medium;
}

.canvas
{
  border-style: dashed;
  border-color: green;
  border-width: thick, 300px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 200px;
  perspective: 10000px;
  position: fixed;
  top: 180px;
  right: 120px;

  /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 110%;
  height: 174%;
  backface-visibility: hidden;
  border-radius: 80px;
}

.flip-card-back {
border: 1px solid #000000;
}

/* Style the back side */
.flip-card-back {
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  font-family: monospace;
  font-size: 20px;
  background-color: rgb(241, 241, 212, 0.8);
  padding: 0px 10px;
}

h5 {
  font-size: 18px;
  font-family: monospace;
  position: fixed;
  top: 100px;
  right: 160px;
}

h4 {
  background-color: rgba(221, 188, 147, 0.37);
  border: #000000 solid 0.5px 1px;
  font-size: 14px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 20px;
  left: 50px;
}

.pixelateP {
  font-size: 15px;
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
  display: grid;
  justify-content: space-around;

}

td {
  padding: 10px 50px;
  margin-left: 10px;
  margin-top: 10px;
}


/*THIS IS FOR PROJECTS*/


.flip-card-proj {
  background-color: transparent;
  width: 350px;
  height: 200px;
  perspective: 10000px;

}


.flip-card-proj-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-proj:hover .flip-card-proj-inner {
  transform: rotateY(180deg);
}

.flip-card-proj-front, .flip-card-proj-back {
  position: absolute;
  width: 110%;
  height: 174%;
  backface-visibility: hidden;
  border-radius: 80px;
}

.flip-card--proj-back {
border: 1px solid #000000;
}

.flip-card-proj-back {
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
  font-family: monospace;
  font-size: 20px;
  background-color: rgb(241, 241, 212, 0.8);
}

.projectsHead {
  background-color:rgba(255, 255, 255, 0.425);
  position: relative;
justify-content: center;
top: 15px;
}